.productpage_container{
    display: flex ;
    padding: 10px;
    gap: 10px;
    position: relative;
}
.productpage_container > div:nth-child(1) {
    width: 20%;
    height: 100vh;
    border: 1px solid gray ;
    
    
}
.productpage_container > div:nth-child(2){
    width: 80%;
    /* border: 1px solid gray; */
    height: auto;
    
}

/* product card component */

.Productcard_container{
   display: flex;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  flex-direction: column;
   width: 31%;
    gap: 15px;
   
   
}


