.mycard{
   max-width: 300px;
   min-width: 300px;
    height:400px;
    background-color: black;
    margin: 10px;
    color: white;

}

.productcontainer{
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
}