
img{
    transition: 2s;
}



#r1:checked ~ #first > #fimg{
    margin-left: 0%;

    
}

#r2:checked ~ #first > #fimg{
    margin-left: -100%;

    
}
#r3:checked ~ #first > #fimg{
    margin-left: -200%;

    
}
#r4:checked ~ #first > #fimg{
    margin-left: -300%;

    
}
