input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: white;
  content: "";
  display: inline-block;
  
  border: 2px solid white;
}

input[type="radio"]:checked:after {
  background-color: #ffa500;
}

.slider_container > input {
  position: relative;
  left: 50%;
  top: 220px;
  margin: 5px;
}
#first {
  margin-top: -24px;
}



#first > img {
  transition: 2s;
}
#r2 {
  color: purple;
}
#r1:checked ~ #first > #fimg {
  margin-left: 0%;
}

#r2:checked ~ #first > #fimg {
  margin-left: -100%;
}
#r3:checked ~ #first > #fimg {
  margin-left: -200%;
}
#r4:checked ~ #first > #fimg {
  margin-left: -300%;
}

#r5:checked ~ #first > #fimg {
  margin-left: -400%;
}
#r6:checked ~ #first > #fimg {
  margin-left: -500%;
}


/* product slider css */

.mycard{
  max-width: 250px;
  min-width: 250px;
   height:250px;
   background-color: white;
   /* margin: 10px; */
   color: white;

}

.productcontainer{
   display: flex;
   /* margin-top: 10px; */
   gap: 15px;
   overflow: hidden;
   scroll-behavior: smooth;
}

.btn_product {
  
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}
.btn_product > button {
background-color: rgba(0, 0, 0, 0.315);
height: 30%;
width: 40px;
display: flex;
justify-content: center;
align-items: center;

}
.btn_product > button:hover{
  background-color: white;
  border:3px solid rgb(0, 191, 255)
}
.btn_product > button:nth-child(1){
  border-radius: 0px 5px 5px 0px;
}

.btn_product > button:nth-child(2){
  border-radius: 5px 0px 0px 5px;
}

